.header {
  background-color: #20948B;
  display: flex;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 1.5rem; }
  .header .header__logo {
    width: 100px;
    margin: 2%; }
  .header .header__btn {
    margin: 1rem; }

.mainIndex {
  width: 80%;
  margin: 5% auto;
  text-align: center;
  font-family: 'Staatliches', cursive; }
  .mainIndex .mainIndex__titulo {
    font-size: 3rem; }
  .mainIndex .mainIndex__parrafo .mainIndex__imagenSomos {
    width: 8%;
    margin: 1%; }
  .mainIndex .mainIndex__parrafo .mainIndex__subtitulo {
    margin-top: 4%;
    font-size: 2rem; }
  .mainIndex .mainIndex__parrafo .mainIndex__texto {
    margin: 4%;
    margin-top: 1%;
    line-height: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    text-align: center;
    color: #777777; }

.mainAlimentacion {
  width: 80%;
  margin: 2% auto;
  text-align: center;
  font-family: 'Staatliches', cursive; }
  .mainAlimentacion .mainAlimentacion__titulo {
    margin: 4% 0;
    font-size: 3rem; }
  .mainAlimentacion .mainAlimentacion__divContenedores {
    display: flex;
    flex-direction: column;
    margin: 3% 0;
    margin-bottom: 10%; }
    .mainAlimentacion .mainAlimentacion__divContenedores .mainAlimentacion__parrafo {
      display: flex;
      flex-direction: row;
      margin: 3% 0; }
      .mainAlimentacion .mainAlimentacion__divContenedores .mainAlimentacion__parrafo .mainAlimentacion__imagen {
        width: 350px;
        height: 300px;
        object-fit: cover; }
      .mainAlimentacion .mainAlimentacion__divContenedores .mainAlimentacion__parrafo .mainAlimentacion__texto {
        margin: 4%;
        margin-top: 4%;
        line-height: 2rem;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.25rem;
        text-align: start;
        color: #777777; }

@media only screen and (max-width: 1024px) {
  .mainAlimentacion .mainAlimentacion__divContenedores .mainAlimentacion__parrafo {
    flex-direction: column; }
    .mainAlimentacion .mainAlimentacion__divContenedores .mainAlimentacion__parrafo .mainAlimentacion__imagen {
      width: 100%; } }

.mainProductos {
  width: 80%;
  margin: 6% auto;
  text-align: center;
  font-family: 'Staatliches', cursive; }
  .mainProductos .mainProductos__titulo {
    font-size: 3rem; }
  .mainProductos .mainProductos__grupoDeTres {
    display: flex;
    justify-content: center;
    margin: 5% auto; }
    .mainProductos .mainProductos__grupoDeTres .mainProductos__productoIndividual {
      width: 30%; }
      .mainProductos .mainProductos__grupoDeTres .mainProductos__productoIndividual .mainProductos__imagenProducto {
        width: 100%;
        padding: 5%; }
      .mainProductos .mainProductos__grupoDeTres .mainProductos__productoIndividual .mainProductos__precio {
        display: block;
        font-size: 1.25rem;
        margin: 3% auto; }
      .mainProductos .mainProductos__grupoDeTres .mainProductos__productoIndividual .mainProductos__carrito {
        width: 10%; }

.mainTaller {
  width: 80%;
  margin: 2% auto;
  text-align: center;
  font-family: 'Staatliches', cursive; }
  .mainTaller .mainTaller__titulo {
    font-size: 3rem; }
  .mainTaller .mainTaller__individual {
    margin: 3% 0; }
    .mainTaller .mainTaller__individual .mainTaller__imagen {
      width: 40%; }
    .mainTaller .mainTaller__individual .mainTaller__precio {
      margin-top: 3%;
      margin-bottom: 0;
      font-size: 1.25rem; }
    .mainTaller .mainTaller__individual .mainTaller__carrito {
      width: 7.5%; }
    .mainTaller .mainTaller__individual .mainTaller__texto {
      margin: 4%;
      margin-top: 4%;
      line-height: 2rem;
      font-family: 'Montserrat', sans-serif;
      font-size: 1.25rem;
      text-align: start;
      color: #777777;
      font-size: 1rem; }

.footer {
  padding: 2.5% 0;
  display: grid;
  grid-template-columns: 7.5% 7.5% 7.5% 7.5% 20% 50%;
  grid-template-rows: 100%;
  grid-template-areas: "facebook whatsapp instagram tiktok derechos mapa";
  align-items: center;
  row-gap: 20px;
  background: linear-gradient(#ffa600, #56a7aa); }
  .footer .footer__redes {
    margin: 0 auto;
    text-align: center; }
  .footer .footer__imagenRedes {
    width: 35%;
    transition: 0.5s; }
  .footer .footer__imagenRedes:hover {
    transform: scale(1.25, 1.25); }
  .footer .footer__redes--facebook {
    grid-area: facebook; }
  .footer .footer__redes--instagram {
    grid-area: instagram; }
  .footer .footer__redes--whatsapp {
    grid-area: whatsapp; }
  .footer .footer__redes--tiktok {
    grid-area: tiktok; }
  .footer .footer__derechos {
    grid-area: derechos;
    font-family: 'Do Hyeon', sans-serif;
    margin-bottom: 5%;
    text-align: center; }
  .footer .footer__mapa {
    grid-area: mapa; }
    .footer .footer__mapa iframe {
      width: 80%; }

@media only screen and (max-width: 768px) {
  .footer {
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "facebook whatsapp" "instagram tiktok" "mapa mapa" "derechos derechos";
    padding: 0 5px; }
    .footer .footer__redes .footer__imagenRedes {
      width: 30%; }
    .footer .footer__mapa {
      text-align: center; } }

.mainContacto {
  width: 80%;
  margin: 3% auto;
  text-align: center;
  font-family: 'Staatliches', cursive; }
  .mainContacto .mainContacto__titulo {
    font-size: 3rem; }
  .mainContacto .mainContacto__texto {
    margin-top: 3%;
    margin: 3% auto 0 auto;
    font-size: 1.25rem;
    color: #505050; }
  .mainContacto .mainContacto__formulario {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(4, 25%);
    grid-template-areas: "nombre consulta" "email consulta" "telefono consulta" ". btn";
    background: linear-gradient(rgba(86, 167, 170, 0.2), rgba(255, 166, 0, 0.2));
    width: 60%;
    border: 1px black solid;
    padding: 5% 0;
    margin: 5% auto; }
    .mainContacto .mainContacto__formulario .mainContacto__izquerda--nombre {
      grid-area: nombre; }
    .mainContacto .mainContacto__formulario .mainContacto__izquerda--email {
      grid-area: email; }
    .mainContacto .mainContacto__formulario .mainContacto__izquerda--telefono {
      grid-area: telefono; }
    .mainContacto .mainContacto__formulario .mainContacto__consulta {
      grid-area: consulta; }
      .mainContacto .mainContacto__formulario .mainContacto__consulta textarea {
        width: 80%;
        height: 80%; }
    .mainContacto .mainContacto__formulario .mainContacto__btnEnviar {
      grid-area: btn;
      margin: 2%; }
      .mainContacto .mainContacto__formulario .mainContacto__btnEnviar input {
        padding: 2.5%; }

@media only screen and (max-width: 768px) {
  .mainContacto .mainContacto__formulario {
    display: flex;
    flex-direction: column;
    width: 80%; } }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }
