.mainProductos{
    @include main (6%);
    .mainProductos__titulo{
        @include tamañoFuentex2(1.5rem);
    }
    .mainProductos__grupoDeTres{
        display: flex;
        justify-content: center;
        margin: 5% auto;
        .mainProductos__productoIndividual{
            width: 30%;
            .mainProductos__imagenProducto{
                width: 100%;
                padding: 5%;
            }
            .mainProductos__precio{
                display: block;
                font-size: 1.25rem;
                margin: 3% auto;
            }
            .mainProductos__carrito{
                width:2rem;
            }
        }
    }
}

@media only screen and (max-width:425px){
    .mainProductos{
        .mainProductos__grupoDeTres{
            .mainProductos__productoIndividual{
                .mainProductos__carrito{
                    width: 1.25rem;
                }
            }
        }
    }
}