.mainTaller{
    @include main(2%);
    .mainTaller__titulo{
        @include tamañoFuentex2(1.5rem);

    }
    .mainTaller__individual{
        margin: 3% 0;
        .mainTaller__imagen{
            width: 40%;
        }
        .mainTaller__precio{
            margin-top: 3%;
            margin-bottom: 0;
            font-size: 1.25rem;
        }
        .mainTaller__carrito{
            width: 2.5rem;
        }
        .mainTaller__texto{
            @include texto (start, 4%);
            @include tamañoFuentex2 (0.5rem);
        }
    }
}
  
@media only screen and (max-width:425px){

    .mainTaller{
        .mainTaller__individual{
            .mainTaller__carrito{
                width: 2rem;
            }
        }
    }
}